$main-color: #60687F;
$main-font: 'Lato', sans-serif;
$light-blue: #C1D1FF;
$footer-height: 2em;
$dark-grey: #333;
$site-width: 1200px;
html {
  font-size: 20px;
}
body {
  font-family: $main-font;
  background: #FFF;
  color: $main-color;
  line-height: 1.5em;
  box-sizing: border-box;
}
.inner {
  width: 100%;
  max-width: $site-width;
  margin: 0 auto;
}
.push {
  margin-bottom: $footer-height;
  float: none;
  clear: both;
}
a {
  color: $dark-grey;
  text-decoration: none;
}
a:hover {
  color: $main-color;
}
header {
  padding: 2rem;
  text-align: center;
  background: #3A4C7F;
  color: white;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1em;
  margin: 0.25rem;
  // font-family: $heading-font;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
  color: $dark-grey;
}
h3 {
  font-size: 1.25rem;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
img {
  width: 100%;
  margin: 1rem auto;
  box-sizing: border-box;
}
p {
  margin: 0 0 1rem;
}


.italic {
  font-style: italic;
}
.name {
  color: $light-blue;
}
header h1 {
  margin-top: 0;
}
header p {
  margin-bottom: 0;
  font-size: 0.8rem;
}
header p span {
  padding: 0 .25rem;
}
header p span:nth-child(even) {
  color: $light-blue;
}
.main {
  padding: 1rem 5%;
  height: 100%;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
}
.main article {
  float: left;
  width: 45%;
  margin-right: 5%;
}
.main article:nth-child(even) {
  margin-right: 0;
}
.main article img {
  width: 100%;
  display: block;
  float: none;
  margin: 1rem 0;
  padding: 0.5rem;
  background: #EEE;
  border-radius: 10px;
}
.main article h2 {
  text-align: center;
}
.main article ul li {
  margin-left: 2.5rem;
  padding: 0;
}
footer {
  position:fixed;
  left:0px;
  bottom:0px;
  background: $light-blue;
  height: $footer-height;
  width: 100%;
}
@media (max-width: 750px) {
  html {
    font-size: 16px;
  }
  .main article {
    float: none;
    width: 94%;
    margin: 0 3% 1em;
  }
}
@media (max-width: 650px) {
  header h1 span {
    display: block;
    clear: both;
    float: none;
  }
}
